replicaCount: 1
image:
  repository: omerbh7/fastapi-helm-argocd
  tag: "5009039"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8000
ingress:
  enabled: true
  host: fastapi.local
  path: /
